#logo {
float: left;
width: 100%;
height: fit-content;
object-fit: contain; 
margin: 0;
}

.pageTitle {
    float: left;
    padding: 15px 0 0 15px;
    font-size: 1.5rem;
<<<<<<< HEAD
    color: #F8971D;
=======
    color: #F8971D ;
>>>>>>> 838c51091fa16b5ebdc37afd47589c16daf077af
}

.mat-toolbar {
    background-color: #021a32;
    }
