#logo {
float: left;
max-width: 100%;
height: auto;
object-fit: contain; 
margin: 0;
}

.pageTitle {
    float: left;
    padding: 15px 0 0 15px;
    font-size: 1.5rem;
    color: #007db3;
}

.mat-toolbar {
    background-color: #021a32;
    }