
<div mat-dialog-content>
    <p>
        This website uses cookies to ensure you get the best experience on the website.
       
       </p> 
       <p>
        To learn more, read our 
        <a href="../../assets/Privacy Notice.pdf" target="_blank" title="Privacy Policy">privacy policy</a> and 
        <a href ="https://www.allegisgroup.com/en/cookie-notice" target="_blank" >cookie policy</a>.
    </p>
</div>
<div mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" (click)="onClose()">OK</button>
</div>
