h1 {
    font-size: 1.5em;
    margin-bottom: 0;
    color:#0194D3;
    font-family: "Muller", sans-serif
}

p {
    margin: 10px 0 0;
    font-size: 1.3em;
    line-height: 1.5;
    color: #666666;
}

.mat-dialog-actions {
    margin-bottom: 0;
    padding-bottom: 0;
    float: right;
}

.mat-raised-button {
    font-size: 1.3em;
    padding: 5px 25px;
    font-family: "Muller", sans-serif;
}

/* Medium screens */
@media all and (max-width: 1300px) {
    h1 {
        font-size: 1.2em;
    }
    
    p {
        font-size: 1em;
    }

    .mat-raised-button {
        font-size: 1em;
        padding: 5px 16px;
    }
}