.mat-card-header {
    display: flex;
    flex-direction: row;
    padding: 0;
    font-family: "Muller", sans-serif;
}

.number {
    align-self: flex-start;
    width: 50%;
}

.category {
    font-size: 1.75em;
    font-weight: 400;
    padding: 32px 0;
    color: #f7931e;
    align-self: flex-end;
    width: 50%;
    text-align: right;
    letter-spacing: 1px;
}

.mat-card-title {
    text-align: left;
    font-size: 2.2em;
    margin: 16px 0;
    overflow-wrap: break-word;
    color: #002E56;
    font-family: "Equip", serif;
}

.mat-card-subtitle {
    font-size: 1.75em;
    font-weight: 600;
    text-align: left;
    padding: 32px 0;
    margin: 0;
    color: #666666;
    overflow-wrap: break-word;
}

::ng-deep .mat-card-header-text {
    margin: 0;
}

::ng-deep .mat-radio-label-content {
    font-size: 2em;
    font-weight: 400;
    color: #666666;
    white-space: normal !important;
    font-family: "Muller", sans-serif
}

::ng-deep .mat-radio-label {
    padding-bottom: 12px;
}

.mat-card-content {
    margin: 0 0 16px;
    overflow-wrap: break-word;
    font-family: "Muller", sans-serif;
}

.mat-hint {
    color: #f7931e;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 2px 0;
  }
  
.radio-button {
    margin: 2px;
  }

.radio-button-answer {
    margin-bottom: 5px;
}  

::ng-deep.mat-radio-outer-circle {
    border-color: #666666;
    height: 25px;
}

/* Medium screens */
@media all and (max-width: 1300px) {
    .category {
        font-size: 1.25em;
        padding: 10px 0;
    }

    .mat-card-title {
        font-size: 1.5em;
        margin: 5px 0;
    }
    
    .mat-card-subtitle {
        font-size: 1.25em;
        padding: 10px 0;
    }

    ::ng-deep .mat-radio-label-content {
        font-size: 1.3em;
    }
    
    ::ng-deep .mat-radio-label {
        padding-bottom: 7px;
    }
    
    .mat-card-content {
        margin: 0 0 7px;
    }

    .radio-button-answer {
        margin-bottom: 2px;
    } 
}