<!-- <div class="container"
        fxLayoutAlign="center">
        
        
        <mat-card> 


         <section class="progressBar" >
            <mat-progress-bar *ngIf="(progressValue >= 0 && progressValue <= 100) &&
               question && question.questionId <= numberOfQuestions" [value]="progressValue">
            </mat-progress-bar>
            </section> 
           <mat-card-header>
            
               <mat-card-title>{{question?.category.category}}</mat-card-title>
               <p>Question {{question?.questionId}} of {{numberOfQuestions}}</p>
               <mat-card-subtitle>{{question?.question}}</mat-card-subtitle>
           </mat-card-header>

        <mat-card-content>    
        <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
            <mat-radio-group class="radio-group" formControlName="answer" name="answer" (change)="radioChange($event.value)" required>
                    <div *ngFor="let answer of question?.answers; let i = index">
                      <mat-radio-button class="radio-button-answer" [value]="answer.answerId">
                        {{ answer.answer }}
                      </mat-radio-button>
                    </div>
                    
                     <mat-error class="error-message" 
                         *ngIf="questionForm.get('answer').hasError('required')">
                         {{validationMessage}}
                     </mat-error>

                   
                </mat-radio-group>
               </form>
        </mat-card-content>

         <mat-card-actions>
            <span *ngIf="question && question.questionId == numberOfQuestions">
                <button mat-raised-button type="submit" (click)="onSubmit()" color="primary">Submit Answers</button>
             </span>

             <span *ngIf="question && question.questionId !== numberOfQuestions">
                <button mat-raised-button type="button" (click)="nextQuestion()" color="primary">Next</button>
             </span>

             <span *ngIf="question && question.questionId !== 1">
                <button mat-raised-button type="button" (click)="prevQuestion()" color="accent">Back</button>
             </span>

            
         </mat-card-actions>
      
    </mat-card>
</div>     -->


<form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
   <mat-card-title>{{question.category.category}}</mat-card-title>
      <mat-card-subtitle>Question {{ question.questionId }} of {{ numberOfQuestions }}</mat-card-subtitle>
   <ng-content></ng-content>
 
   <div class="form-group">
     <mat-radio-group formControlName="answer" name="answer" (change)="radioChange($event.value)"
       (click)="question.selectedAnswer = answer">
 
       <div *ngFor="let answer of question.answers">
         <mat-radio-button class="answer" [value]="answer.answerId" disableRipple="true"
           [checked]="question.selectedAnswer == answer"
           [ngClass]="{'initial-state': initialState()}">
           {{ answer.answer }}
 
         </mat-radio-button>
 
       </div>
     </mat-radio-group>
   </div>
 </form>
 