.mat-card-title {
    text-align: left;
    font-size: 20px;
    margin-bottom: 0;
    color: white;
    overflow-wrap: break-word;
}

.mat-card-subtitle {
    font-size: 18px;
    text-align: left;
    padding: 16px 0;
    margin: 0;
    color:#0194D3;
    overflow-wrap: break-word;
}

::ng-deep .mat-radio-label-content {
    font-size: 16px;
    white-space: normal !important;
}

.mat-card-content {
    margin: 0 16px 16px;
    overflow-wrap: break-word;
}

.mat-hint {
    color: #f7931e;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 2px 0;
  }
  
.radio-button {
    margin: 2px;
  }

.radio-button-answer {
    margin-bottom: 5px;
}  

.mat-card-actions {
    padding: 10px;
    margin-bottom: 30px;
}

::ng-deep.mat-radio-outer-circle {
    border-color: white;
}

hr {
    background-color: #F8971D ;
    width: 90%;
}