
     <div class="container"
        fxLayoutAlign="center"> 

        
       <mat-card class="question-card">

      <span><mat-progress-bar mode="determinate" [style.width.%]="(questionService.qnProgress+1)*10"></mat-progress-bar><br></span>

   
           <!-- progress bar with a preset value soon-->
            
           <!-- <mat-card-header>
               <mat-card-title>{{question?.category}}</mat-card-title>
               <mat-card-subtitle>{{question?.questionId}}. {{question?.questionText}}</mat-card-subtitle>
           </mat-card-header> -->
           <div *ngIf="questionService.questions">
           <mat-card-header>
             <mat-card-title>{{questionService.questions[questionService.qnProgress].categoryCode}}</mat-card-title>
             <mat-card-subtitle>{{questionService.qnProgress+1}}. {{questionService.questions[questionService.qnProgress].question}}</mat-card-subtitle>
           </mat-card-header>
       
           <mat-card-content>
               
               <!-- <form novalidate [formGroup]="profileForm"> -->
                     <mat-radio-group class="radio-group">
                       <!-- aria-labelledby="radio-group" formControlName="answer"  -->
                       <ng-container *ngFor="let answer of questionService.questions[questionService.qnProgress].answers; let i = index">
                         <mat-radio-button class="radio-button-answer" (click)="Answer(questionService.questions[questionService.qnProgress].questionId,i)">
                           {{ answer.answer }}
                         </mat-radio-button>
                       </ng-container>
                   </mat-radio-group>
               <!-- </form> -->
           </mat-card-content>

            <mat-card-actions>
               <!-- <button mat-raised-button type="button" (click)="router.navigate(['/question', questionService.questionId + 1])" color="primary">Next</button>
               <button mat-raised-button type="button" (click)="router.navigate(['/question', questionService.questionId - 1])" color="accent">Back</button> -->
               
            </mat-card-actions>
         </div>
       </mat-card>
     </div>