<h1 mat-dialog-title>Instructions</h1>
<div mat-dialog-content>
    <p>
        The following questionnaire consists of 24 multiple-choice questions. 
        Read each question carefully and choose the answer that best applies to your organization as a whole. 
        You can only select one answer per question. 
        Please allow 25–30 minutes to complete the questionnaire. 
  </p>
</div>
<div mat-dialog-actions>
    <button type="button" mat-raised-button color="primary" (click)="onClose()">OK</button>
</div>
