::ng-deep .mat-dialog-container {
    background: rgb(164,215,244);
    background: linear-gradient(0deg, rgba(164,215,244,1) 0%, rgba(182,223,246,1) 50%, rgba(200,231,248,1) 100%);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    color:#00284d;
}

h1 {
    font-size: 18px;
    margin-bottom: 0px;
}

p {
    margin-bottom: 0px;
}

.mat-dialog-actions {
    margin-bottom: 0;
    padding-bottom: 0;
    float: right;
}