.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 10%;
  }

.mat-card-questions {
    width: 75%;
    flex: 1 1 10em; 
}

::ng-deep .mat-card:not([class*=mat-elevation-z]) {
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.mat-raised-button {
    text-transform: uppercase;
    font-size: 1.2em;
    padding: 3px 16px;
    font-family: "Muller", sans-serif;
}

#next-button, #submit-button {
    float: right;
}

#previous-button {
    float: left;
}

.mat-card-actions {
    padding: 25px 9px 0;
    margin-bottom: 30px;
}

::ng-deep .mat-progress-bar {
    height: 20px !important;
}

::ng-deep .mat-progress-bar-buffer {
    background-color: #002E56;
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #F8971D;
}

/* Medium screens */
@media all and (max-width: 1300px) {
    .container {
        padding: 1% 10%;
      }

    ::ng-deep .mat-progress-bar {
        height: 10px !important;
    }

    .mat-raised-button {
        font-size: 1em;
        padding: 3px 10px;
    }

    .mat-card-actions {
        padding-top: 5px;
        margin-bottom: 10px;
    }

    .mat-raised-button {
        text-transform: uppercase;
        font-size: 1em;
        padding: 3px 10px;
        font-family: "Muller", sans-serif;
    }

}