<div class="container" *ngIf="questions">
   
   <mat-card class="mat-card-questions">
      <section class="progressBar">
         <mat-progress-bar *ngIf="(progressValue >= 0 && progressValue <= 100) &&
            questionToDisplay && index <= numberOfQuestions" [value]="progressValue">
         </mat-progress-bar>
         </section>

   <form [formGroup]="questionForm">     
      <app-question-detail 
         [question]="questionToDisplay" 
         [numberOfQuestions]="numberOfQuestions"
         [questionForm]="questionForm"
         (answer)="getAnswer($event)"
         >
      </app-question-detail>
   </form>    
   <mat-card-actions>
      <span *ngIf="questionToDisplay && index == numberOfQuestions">
         <button mat-raised-button type="submit" id="submit-button" [disabled]="!questionForm.valid" (click)="submit()" color="accent">Submit Answers</button>
      </span>
      <span *ngIf="questionToDisplay && index !== numberOfQuestions">
         <button mat-raised-button type="button" id="next-button" [disabled]="!questionForm.valid" (click)="nextQuestion()" color="accent">Next</button>
      </span>
      <span *ngIf="questionToDisplay && index !== 1">
         <button mat-raised-button type="button" id="previous-button" color="accent">Previous</button>
      </span>
   </mat-card-actions>
   </mat-card>
</div>
