.mat-card {
<<<<<<< HEAD
    margin-top: 50px;
    flex-basis: 35em;
}

.mat-card-title {
    text-align: left;
    font-size: 20px;
    margin-bottom: 0;
    /* padding: 5px; */
    color: #021a32;
=======
    margin-top: 40px;
    flex-basis: 50em;
}

.mat-card-title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
    padding: 5px;
>>>>>>> a8b9a86ed655194a42f5aacf92bab6d669c4623c
}

.mat-card-subtitle {
    font-size: 18px;
    padding: 16px 0 5px;
    margin: 0;
}

.mat-card-content {
    margin: 0 16px 16px;
}

.mat-hint {
    color: #f7931e;
}

.mat-raised-button.mat-button-base.mat-primary {
    float: right;
    text-transform: uppercase;
}

.mat-raised-button.mat-button-base.mat-accent {
    float: left;
    text-transform: uppercase;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 2px 0;
  }
  
.radio-button {
    margin: 2px;
  }

<<<<<<< HEAD
.mat-card-content {
    font-size: 16px;
=======
.radio-button-answer {
    margin-bottom: 5px;
>>>>>>> a8b9a86ed655194a42f5aacf92bab6d669c4623c
}  

.mat-card-actions {
    padding: 10px;
    margin-bottom: 30px;
<<<<<<< HEAD
=======
}

#question {
    color: #021A32;
    font-size: 20px;
    margin-bottom: 4px;
>>>>>>> a8b9a86ed655194a42f5aacf92bab6d669c4623c
}