.mat-card {
<<<<<<< HEAD
    margin-top: 50px;
=======
    margin-top: 40px;
>>>>>>> a8b9a86ed655194a42f5aacf92bab6d669c4623c
    flex-basis: 35em;
}

.mat-raised-button {
    float: right;
    text-transform: uppercase;
} 

.mat-form-field {
    margin-left: 16px;
}

.mat-card-actions {
    padding: 10px;
    margin-bottom: 30px;
}
