<div class="container">
 <div class="form">
    <form class="form-horizontal" [formGroup]="profileForm" (ngSubmit)="onSubmit()" novalidate>
      <h1>Create Profile</h1>
      <h2>Company Information</h2>
      <div class="content">

          <label for="companyName" class="label">Company Name</label>
          <input class="input" formControlName="companyName" name="companyName" type="text" required (blur)="shareCompanyName()">
          <span *ngFor="let validation of validationMessages.companyName">
            <span class="error-message"
              *ngIf="serverError">
              This company name is already in use.
           </span>
           <span class="error-message"
              *ngIf="profileForm.get('companyName').hasError(validation.type) && (profileForm.get('companyName').dirty || profileForm.get('companyName').touched)">
              {{validation.message}}
           </span>
          </span>

          <label for="industry" class="label">Industry</label>
          <select class="select" formControlName="industry" required>
            <option *ngFor="let industry of industries" [value]="industry.value">
              {{industry.viewValue}}
            </option>
          </select>
          <span *ngFor="let validation of validationMessages.industry">
            <span class="error-message"
              *ngIf="profileForm.get('industry').hasError(validation.type) && (profileForm.get('industry').dirty || profileForm.get('industry').touched)">
              {{validation.message}}
          </span>
        </span>

        <hr>
      
        <h2>Personal Information</h2>
       
        <div class="flex-container">
          <div>
          <label for="firstName" class="label">First Name</label>
          <input class="input" formControlName="firstName" type="text" required>
          <span *ngFor="let validation of validationMessages.firstName">
            <span class="error-message"
              *ngIf="profileForm.get('firstName').hasError(validation.type) && (profileForm.get('firstName').dirty || profileForm.get('firstName').touched)">
              {{validation.message}}
          </span>
        </span>
        </div>

        <div>
          <label for="lastName" class="label">Last Name</label>
          <input class="input" formControlName="lastName" type="text" required>
          <span *ngFor="let validation of validationMessages.lastName">
            <span class="error-message"
              *ngIf="profileForm.get('lastName').hasError(validation.type) && (profileForm.get('lastName').dirty || profileForm.get('lastName').touched)">
              {{validation.message}}
          </span>
        </span>
    </div>
  </div>

          <label for="title" class="label">Role</label>
          <select class="select" formControlName="title" required>
            <option *ngFor="let role of roles" [value]="role.value">
              {{role.viewValue}}
            </option>
          </select>
          <span *ngFor="let validation of validationMessages.title">
            <span class="error-message"
              *ngIf="profileForm.get('title').hasError(validation.type) && (profileForm.get('title').dirty || profileForm.get('title').touched)">
              {{validation.message}}
          </span>
        </span>

        <div class="flex-container">
          <div>
          <label for="email" class="label">Email Address</label>
          <input class="input" formControlName="email" type="email" required>
          <span *ngFor="let validation of validationMessages.email">
            <span class="error-message"
              *ngIf="profileForm.get('email').hasError(validation.type) && (profileForm.get('email').dirty || profileForm.get('email').touched)">
              {{validation.message}}
          </span>
        </span>
        </div>

        <div>
          <label for="phoneNumber" class="label">Phone Number</label>
          <input class="input" formControlName="phoneNumber" type="tel" required mask="(000) 000-0000" prefix="+1"
            [showMaskTyped]="false">
          <span *ngFor="let validation of validationMessages.phoneNumber">
            <span class="error-message"
              *ngIf="profileForm.get('phoneNumber').hasError(validation.type) && (profileForm.get('phoneNumber').dirty || profileForm.get('phoneNumber').touched)">
              {{validation.message}}
          </span>
          <span class="error-message"
              *ngIf="profileForm.get('phoneNumber').invalid && profileForm.get('phoneNumber').dirty">
              Phone Number must be 10 digits.
          </span>
        </span>
        </div>
        

      </div>

      <div>
        <mat-checkbox class="example-margin" formControlName="terms" required  >  I agree to the <a href="../../assets/Terms and Conditions.pdf" target="_blank">terms and conditions </a> </mat-checkbox>
         </div> 
      

    </div>
      <div class="actions">
        <button mat-raised-button type="submit" color="accent" [disabled]="profileForm.invalid">Get Started</button>
      </div>
    </form>
    </div>
</div>
