/* Large */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 70%;
    height: auto;
    margin-top: 2%;
}

.content>:first-child {
    margin-top: 10px;
}

.mat-raised-button {
    float: left;
    text-transform: uppercase;
    margin-top: 8px;
} 

.actions {
    padding-top: 10px;
    margin-bottom: 30px;
}

h1 {
    font-size: 1.5em;
    color:#0194D3;
    margin-top: 0;
    font-family: "Equip", serif;
}

h2 {
    color:#F8971D;
    font-size: 1.1em;
    text-transform: uppercase;
    margin-bottom: 2px;
}

h2:not(:first-child), h1:not(:first-child) {
    margin-top: 10px;
}

hr {
    border-top: 2px solid #F8971D;
    margin: 20px 0;
    border-style: inset;
}

.label {
    color: #002e56;
    margin: 10px 0 0;
    font-size: 1.1em;
    display: block;
}

.ng-valid[required], .ng-valid.required {
    border: 2px solid #66BB6A;
}
.ng-dirty:not(form), .ng-touched:not(form) {
    border: 2px solid #EF5350;
}

.error-message {
    color: #EF5350;
    font-size: 1em;
}

.input, .select {
  width: 100%;
  padding: 10px;
  margin: 3px 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
}

.flex-container {
    width: 100%;
    display: flex;
}

.flex-container > div:first-child {
    padding-right: 10px;
    width: 100%;
}

.flex-container > div:last-child {
    padding-left: 10px;
    width: 100%;
}

/* Medium screens */
@media all and (max-width: 800px) {

    .mat-raised-button {
        float: right;
        text-transform: uppercase;
        width: 100%;
    } 

    h1 {
        font-size: 24px;
    }

    .flex-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
.flex-container > div:first-child {
        padding-right: 0;
        width: 100%;
    }
    
.flex-container > div:last-child {
        padding-left: 0;
        width: 100%;
    }
}

/* Small screens */
@media all and (max-width: 500px) {

.mat-raised-button {
        float: right;
        text-transform: uppercase;
        width: 100%;
    } 

h1 {
        font-size: 24px;
    }

.flex-container {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
.flex-container > div:first-child {
        padding-right: 0;
        width: 100%;
    }
    
.flex-container > div:last-child {
        padding-left: 0;
        width: 100%;
    }
}