.mat-card {
    margin-top: 40px;
}

.mat-raised-button {
    float: right;
    text-transform: uppercase;
} 

.mat-form-field {
    margin-left: 16px;
}

.mat-card-actions {
    padding: 10px;
    margin-bottom: 30px;
}
