.container{
    margin-top: 50px;
}

.pdf {
    margin: 10px;
}

.content {
    margin: 10px;
    background-color: #ffffff;
}

.mat-raised-button.mat-button-base.mat-accent {
    float: right;
    text-transform: uppercase;
}