/* Largest screens */
header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 35px;
    height: 100px;
}

.banner {
    background-image: url(src\assets\banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #002e56;
    height: 130px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 50px;
}

.banner-text {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }

main {
    width: 60%;
    height: auto;
    border-right: solid #BBB 2px;
    padding-right: 3%;
}

aside {
    width: 40%;
    height: auto;
    margin-block-end: auto;
}

p, ul {
    font-size: 1.2em;
}

p:first-child {
    margin-top: 0;
}

strong {
    color: #002e56;
}

.mat-raised-button {
    padding: 2px 20px;
    font-size: 16px;
    text-transform: uppercase;
}

#logo {
    width: 100%;
    height: auto;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #002e56;
    height: 77px;
    padding-right: 35px;
}

#footer-text {
    color: #ffffff;
    text-align: right;
    font-weight: 300;
    font-size: 1em;
    margin: 0;
}

/* Large screens */
@media all and (max-width: 1300px) {
    header {
        height: 75px;
    }

    .container {
        padding: 1.25% 3%;
      }

    .banner {
        height: 75px;
    }

    .banner-text {
        color: #ffffff;
        font-size: 20px;
    }
    
    p, ul {
        font-size: 1em;
    }

    footer {
        height: 50px;
        padding-right: 35px;
    }

    #footer-text {
        font-size: 0.75em;
    }
}

/* Medium screens */
@media all and (max-width: 800px) {
    .banner {
        height: 60px;
    }

    .banner-text {
        color: #ffffff;
        font-size: 20px;
    }
    
    main {
        width: 100%;
    }
}

/* Small screens */
@media all and (max-width: 500px) {
    .banner {
        height: 60px;
    }

    .banner-text {
        color: #ffffff;
        font-size: 20px;
    }
    
    main {
        width: 100%;
    }

    .mat-raised-button {
        width: 100%;
        letter-spacing: 2px;
    }
}
