
        <div class="container">
            <mat-card>
            <div class="row">

                <div class="col-md-8">
                    <!-- TITLE -->
                    <span><img id="logo" src="../assets/logo-white.png"></span>
                    <h1>Agile Transformation Services Assessment</h1>

                    <p class="lead">This self-assessment is designed to help you understand your organization's readiness
                        for an Agile Transformation by increasing awareness and understanding of where you are starting
                        from and what is possible.
                    </p>
                    <p class="lead">It consists of 21 questions that assess your organization's overall stage of development
                        based on 4 lenses, or perspectives into your organization. Please allow 25 to 30 minutes to complete 
                        the assessment.
                    </p>
                    <hr class="my-4">
                    <p>Click the button to begin.</p>
                    <!-- BUTTON -->
                    <button type="button" mat-raised-button color="accent" (click)="onClick()">Begin</button>
                </div>

                <!-- IMAGE TRIANGLE -->
                <div class="col-md-4">
                    <img id="pic1" src="../assets/tekPic.png">
                    <img id="pic2" src="../assets/tekPic2.png">

                </div>

            </div>
        </mat-card>
        </div>
   
