<div class="container-full-bg">
    <!--remove bootstrap-->
    <div class="jumbotron"> 
        <div class="container">
            <div class="row">

                <div class="col-md-7">
                    <!-- TITLE -->

                    <h1>TEKsystems Agile Transformation Services<br>
                        Assessment</h1>

                    <p class="lead">This assessment enables TEKsystems to customize an Agile coaching
                        engagement to your specific circumstance. It identifies potential impediments
                        that may influence the success of the engagement.</p>
                    <p class="lead">The assessment consists of 21 questions that evaluate culture, behavior, and 
                        organizational structure. Please allow 20 to 30 minutes to complete the assessment.
                    </p>
                    <hr class="my-4">
                    <p>Click the button to begin.</p>
                    <!-- BUTTON -->
                    <button type="button" mat-raised-button color="primary" (click)="onClick()">Begin</button>
                </div>

                <!-- IMAGE TRIANGLE -->
                <div class="col-md-5">
                    <img id="pic1" src="../assets/tekPic.png">
                    <img id="pic2" src="../assets/tekPic2.png">

                </div>

            </div>

        </div>
    </div>
</div>