<header>
    <span><img id="logo" src="../assets/logo-tgs.svg" class="center" alt="the Teksystems logo"></span>
</header>
<div class="banner">
    <span class="banner-text">{{ title }}</span>
</div>
<div class="container">
        <main>
            <p><strong>Agile transformation requires vision, drive, and the right strategy.</strong>
            But before starting any journey, you need to understand where you are, today.</p>
            
            <p>If your organization is practicing Agile or transitioning toward a more Agile environment,
                our {{ title }} will track your progress based on your organization's
            </p>
            <ul><strong>
                <li>Leadership mindset</li>
                <li>Practices & behaviors</li>
                <li>Culture</li>
                <li>Systems & structures</li>
                </strong>
            </ul>
            <p>Once you complete the assessment, you’ll receive a detailed report showing where you are on the road
                to Agile transformation. Also included in this report will be:
            </p>
            <ul>
                <li>Accurate descriptions of what Agile may look like in your team's environment based on your organization's
                    stage of organization development
                </li>
                <li>Best practices for undertaking an Agile transformation</li>
                <li>An achievable vision for advancing your Agile transformation</li>
            </ul>
            <p>The {{ title }} is 24 multiple-choice questions and takes about 25 to 30 minutes to complete.
            </p>
            
            <button type="button" mat-raised-button color="accent" (click)="onClick()">Begin</button>
        </main>
        <aside>
            <app-testimonial></app-testimonial>
        </aside>
</div>
<footer>
    <p id="footer-text">&copy; 2020 {{ name }}, Inc. ALL RIGHTS RESERVED.</p>
</footer>
   
